 {
    "presets": [["@babel/preset-env", {
      "targets": {
          "browsers": ["last 2 versions"]
      },
      "debug": true
  }], "@babel/preset-react"],
    "plugins": [ 
      "react-hot-loader/babel",
      "@babel/plugin-proposal-class-properties",
      ["@babel/transform-runtime"]
    ]
    
  }