.form-container {
    color: #fff;
    font-size: small;
    font-weight: 500;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    grid-template-areas: 
        "form-title form-title . . . . . ."
        "form-input form-input  form-input  form-input  form-input  form-input form-input ."
        "form-button-a form-button-b form-button-c . . form-button-d form-button-d form-buttom-d";
}
.form-title {
    grid-area: form-title;
}

.form-input {
    grid-area: form-input;
}

.form-button-a { grid-area: form-button-a;}
.form-button-b { grid-area: form-button-b;}
.form-button-c { grid-area: form-button-c;}
.form-button-d { grid-area: form-button-d;}

.align {
    margin: auto;
}

.title-text {
    font-weight: 700;
}
.form-style {
    width: 80%;
}
.form-style input,
.form-style span {
    color: #fff;
}