#list-item-image {
    height: 400px;
    background-size: 100% 100%;
    background-position: unset;
}


.card-content-top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.year {
    border: solid 1px #eee;
    padding: 1%;
}

