#search {
    display:grid;
    width:100%;
    grid-template-rows: 30%;
}

#list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
    grid-auto-rows: 70%;
    grid-auto-flow: row;
}

#list-item {
    background: #eee;
}