.film-details-container {
    max-width: 700px;
    padding: 2em 1em;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    justify-self: center;  
}

.film-poster {
    justify-self: end;

}

.film-info {
    padding: 0 1em;
    display: grid;
    grid-auto-flow: row;
    align-content: start; 
}

.film-chips{ 
    display: flex;
    flex-direction: row;
}

.film-chips > div {
    margin: 0 0.5em 1em 0;
}