.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header-title {
  width: 15%;
}
@media all and (max-width: 600px) {
  .header-title {
    display: none;
  }
}