.list {
    width: 100%;
    margin: 2em 0;
    height: inherit;
    display:grid;
    grid-template-columns: repeat(3, minmax(auto, 350px));
    grid-gap: 2em;
    grid-auto-flow: row;
    justify-content: center;
}

@media all and (max-width: 800px) {
    .list {
        grid-template-columns: repeat(1, minmax(auto, 350px));
    }
  }